{% extends 'base.html' %}
{% block content %}
<h2>GREETINGS TRAVELLER!</h2>
THIS IS WHERE YOU CAN ADD CITIES YOU ARE YET TO VISIT
<hr>
<section>
    <form action="/cities" method="POST">
        <label for="new_city_name">What city are you hoping to visit?</label>
        <input type="text" name="new_city_name" id="new_city_name" placeholder="Enter City Here">
        <label for="new_city_country">What country is that in?</label>
        <input type="text" name="new_city_country" id="new_city_country" placeholder="Enter Country Here">
        <input type="submit">
    </form>
</section>

{% endblock content %}