{% extends 'base.html' %}
{% block content %}
<h2>GREETINGS TRAVELLER!</h2>
THIS IS WHERE YOU CAN ADD CITIES YOU ARE YET TO VISIT
<hr>
<section>
    <form action="/users" method="post">
        <label for="name">What is your name?</label>
        <input type="text" name="new_user_name" id="new_user_name" placeholder="Enter Name Here">
        <label for="age">How long have you been travelling?</label>
        <input type="number" name="new_user_age" id="new_user_age" placeholder="Enter Age Here">
    </form>
    <input type="submit">
</section>

{% endblock content %}