<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel App</title>
</head>
<body>
    <header>
        <h1>TRAVEL PLAN</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li>
                    GREETINGS TRAVELLER
                    <ul>
                        <li><a href="/users">Seasoned Travellers</a></li>
                        <li><a href="/users/new">A Single Step</a></li>
                    </ul>
                </li>
                <li>
                    COUNTRYMAN
                    <ul>
                        <li><a href="/countries">Travelog</a></li>
                        <li><a href="/countries/new">Places To Go</a></li>
                    </ul>
                </li>
                <li>
                    CITIES OF GOLD
                    <ul>
                        <li><a href="/cities">Road to El Dorado</a></li>
                        <li><a href="/cities/new">Destinations</a></li>
                    </ul>
                </li>
                <li>
                    TRIPS
                    <ul>
                        <li><a href="/trips">Down The Rabbit Hole</a></li>
                        <li><a href="/trips/new">LSD</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <d class=content>
        {% block content %}
        {% endblock  %}
    </
</body>
</html>