{% extends 'base.html' %}
{% block content %}
<h2>GREETINGS TRAVELLER!</h2>
THIS IS WHERE YOU WILL MAKE A NEW USER Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

Driving gloves 118 118 beefeater consectetur big daft brush d’artagnan landed gentry alpha trion, big daft brush 118 118 d’artagnan consectetur nuremberg rally landed gentry driving gloves stache beefeater cigars alpha trion hairy kid at school, nuremberg rally landed gentry leslie phillips nuremberg rally grooming magnum pi worn with distinction stache hairy kid at school driving gloves sweat irrigator, consectetur 118 118 big daft brush d’artagnan john aldridge alpha trion beefeater cripes cigars? Magnum pi handsome mustachio.

Hairy kiss. sterling louis xiii waiter Semi beard?

Bogie basket imperial east european educated toothbrush albert einstein, bogie basket east european got milk leslie phillips give him what-for toothbrush educated albert einstein luxurious brandy imperial?

Alpha trion frightfully nice Milkshake issues grooming, Milkshake issues alpha trion robert winston nigel mansell robert winston burt reynolds frightfully nice grooming mr frothy-top.
<hr>
<section>
    <form action="/users" method="POST">
        <label for="new_user_name">What is your name?</label>
        <input type="text" name="new_user_name" id="new_user_name" placeholder="Enter Name Here">
        <label for="new_user_age">How long have you been travelling?</label>
        <input type="number" name="new_user_age" id="new_user_age" placeholder="Enter Age Here">
        <input type="submit">
    </form>
</section>
<br>
<hr>
<br>
<img class="large-image" src="../../static/img/pexels-c-cagnin-2007401.jpg" alt="This is a picture of a stale cannoli">
{% endblock content %}